<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<h1>  Counter</h1>
<body>
    <form action="{% url 'count' %}">
        <textarea cols="40" rows="10" name="fulltext"></textarea>
        <br />
        <input type="submit" value="Count!" />
    </form>
</body>
<h1>
       
</h1>
<a href="{% url 'about' %}"> About</a>  
</html>